{{extend 'layout.html'}}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{=URL('static','js/d3/d3.min.js')}}"></script>

<link href="{{=URL('static','js/metric-graphics/css/metricsgraphics.css')}}" rel='stylesheet' type="text/css">
<!--<link href="{{=URL('static','js/metric-graphics/css/metricsgraphics-dark.css')}}" rel='stylesheet' type="text/css">-->
<script src="{{=URL('static','js/metric-graphics/js/metricsgraphics.min.js')}}"></script>

<h2>Feed:{{=A("%s" % (feed.name), _href=URL('feed_axis_list/%s' % (feed.id))) if feed != None else None }}</h2>


The Graph
<div class='col-lg-12 text-center extended-y-ticks' id='missing1'></div>


<script>
/*
 * Todo:
 * Grab the current data, send the current id, if the service has a higher id
 * send the list of json back, otherwise nothing.  This will reduce traffic on
 * low volume loads.  This also will show stuff that might have been missed if 
 * you are displaying a graph of a fast feed. * 
 * 
 * I will need a data store locally (http://samcroft.co.uk/2013/using-localstorage-to-store-json/)
 * it should be hidden
 * I will store and pull from it to check for the id to send the request
 * 
 */

	//i learned much of d3 graphs from here:
	//http://www.sitepoint.com/creating-simple-line-bar-charts-using-d3-js/

	$(document).ready(function() {

		var data = 
			[
			    [
			        {
			            "date": "2014-01-01",
			            "value": 10234000
			        },
			        {
			            "date": "2014-01-02",
			            "value": 10373978
			        },
			        {
			            "date": "2014-01-03",
			            "value": 10433459
			        }
			    ], 
			    [
			        {
			            "date": "2014-01-01",
			            "value2": 1230000
			        },
			        {
			            "date": "2014-01-02",
			            "value2": 10372348
			        },
			        {
			            "date": "2014-01-03",
			            "value2": 10493749
			        }
			    ], 
			    [
			        {
			            "date": "2014-01-01",
			            "value3": 100056700
			        },
			        {
			            "date": "2014-01-02",
			            "value3": 10379978
			        },
			        {
			            "date": "2014-01-03",
			            "value3": 10478949
			        }
			    ] 		
			]  

		//data = convert_dates(data, 'date');
		
		var torso = {};
		torso.width = 375;
		torso.height = 200;
		torso.right = 20;
		/*
	    //var all_the_data = clone(data[0]);
        var all_the_data = JSON.parse(JSON.stringify(data[0]));
	    for (var i = 1; i < data.length; i ++){
	        for (var j=0; j < data[i].length; j++){
	            if (i==2 && all_the_data[j]['date'] < new Date('2014-02-01')){
	                // pass
	            } else if (i==1 && all_the_data[j]['date'] > new Date('2014-03-22')) {
	                // pass
	            } else {
	                all_the_data[j]['value'+(i+1)] = data[i][j].value;    
	
	            }
	        }
	    }*/
	    var data2 = [
				{
					"date": "2014-01-01",
				    "value": 100056700
				},
				{
					"date": "2014-01-02",
				    "value": 110059000
				},
				{
				    "date": "2014-01-03",
				    "value": 10379978
				},
				{
				    "date": "2014-01-08",
				    "value": 10478949
				},
				{
					"date": "2014-01-02",
				    "value2": 10456700
				},				
				{
					"date": "2014-01-09",
				    "value2": 102654700
				}
	    	]
	    data2 = convert_dates(data2, 'date');
	    data_graphic({
	        title:"Handling Different Sized Lines in a Single Array",
	        description: "How do you handle data with multiple implied time series lengths?",
	        data: data2,
	        width: torso.width*2,
	        height: torso.height,
	        right: torso.right,
	        target: '#missing1',
	        linked: true,
	        y_extended_ticks: true,
	        x_accessor: 'date',
	        y_accessor: ['value', 'value2'] //['value', 'value2', 'value3']
	    });
	    
	});
</script>
{{#=BEAUTIFY(response._vars)}}