{{extend 'layout.html'}}
<script src="{{=URL('static','js/prettyprint.js')}}"></script>
<h2>Feed:{{=A("%s" % (feed.name), _href=URL('feed_axis_list/%s' % (feed.id))) if feed != None else None }} / Axis:{{=feed_axis.name if feed_axis != None else None}}</h2>

<h3>Postable Link</h3>
<p>This is the URL you can use inside a script to send your authentication and data to.</p>
<p>Datetime format is '%Y-%m-%d %H:%M:%S.%f</p>  
{{=URL('service', 'feed_input.json', args=[feed.name, feed_axis.name], vars={'x':request.now, 'y':3.14159265})}}

<h3>Manual Pull</h3>

<!-- currently will only just get the last row, need to add usage of https://github.com/padolsey/prettyprint.js -->
{{=A('get data',_class="btn btn-primary", callback=URL('service', 'feed_live_axis.json', args=[feed.name, feed_axis.name]), target="new_data")}}
<div id="new_data"></div>
<h3>Live AJAX Polling</h3>
<p>This will show you the last entry in the database and it will be colored.  The color is based on if the record is higher or lower or equal to the previous record.</p>
<table>
	<tr><td>Up</td><td style="color:green">green</td></tr>
	<tr><td>Down</td><td style="color:red">red</td></tr>
	<tr><td>Equal to</td><td style="color:blue">blue</td></tr>
	<tr><td>Zero or One row exists</td><td style="color:gray">gray</td></tr>
</table>
<div id="new_data_polled">loading...</div>

<script>
	/*
	 * These two funcsions are the simple ajax polling methods
	 */
	function get_data(){
		/*
		 * This will get the data and then colorize the pretty printed data
		 */
		var url = "{{=URL('service', 'feed_live_axis.json', args=[feed.name, feed_axis.name])}}";
		jQuery.getJSON(url, function(json_data){
			var color;
			if (json_data.state == 0) {
				color = 'blue';	
			} else if (json_data.state < 0) {
				color = 'red';
			} else if (json_data.state > 0) {
				color = 'green';
			} else {
				//i am being explicit rather than implicit
				//lets set the color to gray if it's somehow none of the above
				color = 'gray';
			}
			
			jQuery("#new_data_polled").html(prettyPrint(json_data, {
				styles: {
					'default': {
						td: {
							backgroundColor: '#FFF',
							color: color,
							}
						}
					}
				}
				));
		});
	}

	function poll(){
		/*
		 * recursivly poll for more data and ensure it's timeout remains constant
		 */
		setTimeout(function(){
			get_data();
			poll();
			}
		, 5000);
	}
	poll();
</script>
{{#=BEAUTIFY(response._vars)}}