{{extend 'layout.html'}}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{=URL('static','js/d3/d3.min.js')}}"></script>

<link href="{{=URL('static','js/metric-graphics/css/metricsgraphics.css')}}" rel='stylesheet' type="text/css">
<!--<link href="{{=URL('static','js/metric-graphics/css/metricsgraphics-dark.css')}}" rel='stylesheet' type="text/css">-->
<script src="{{=URL('static','js/metric-graphics/js/metricsgraphics.min.js')}}"></script>

<h2>Feed:{{=A("%s" % (feed.name), _href=URL('feed_axis_list/%s' % (feed.id))) if feed != None else None }}</h2>


<h3>The Graph</h3>
<p>Below you will find the realtime graph if there is data in the last 12 hours.</p>
<p>Example scripts such as {{=A('realtime_data_source_example.py', _href='https://github.com/ericpershey/realtime_data_processor/blob/master/realtime_data_source_example.py')}} can assit in getting a feed working.</p>
<div class='col-lg-12 text-center extended-y-ticks' id='feed_graph'></div>


<script>
/*
 * Todo:
 * Grab the current data, send the current id, if the service has a higher id
 * send the list of json back, otherwise nothing.  This will reduce traffic on
 * low volume loads.  This also will show stuff that might have been missed if 
 * you are displaying a graph of a fast feed. * 
 * 
 * I will need a data store locally (http://samcroft.co.uk/2013/using-localstorage-to-store-json/)
 * it should be hidden
 * I will store and pull from it to check for the id to send the request
 * 
 */

	//i learned much of d3 graphs from here:
	//http://www.sitepoint.com/creating-simple-line-bar-charts-using-d3-js/
	var the_data;
	var x_accessor;
	var y_accessor;
	var max_ids = null;
	var min_y = null;
	var max_y = null;
	$(document).ready(function() {

	/*
		 * This is the more complicated system of storing data in the page and 
		 * retrieving it for comparison.
		 */

		
		function prime_cache(poll_func){
			/*
			 * This is the fucntion that will prepare the data for the generation
			 * of the graph.  It will pull the past and then get the new final id
			 * so that you can pull from that id forward.  This will also get the 
			 * min and max y for each axis.
			 */
			console.log('priming cache');
			var url = "{{=URL('service', 'feed_cache.json', args=[feed.id])}}";
			jQuery.getJSON(url, function(json_data){
				console.log("data received");
				//var json_str_previous = localStorage.getItem('current_data');
				x_accessor = json_data.x_accessor;
				y_accessor = json_data.y_accessor;
				var temp_data = json_data.data;
				//temp_data = convert_dates(temp_data, 'date');
				if (json_data.max_ids != null){
					//the_data.push.apply(the_data, temp_data);
					the_data = temp_data;
					for (var i = 0; i < y_accessor.length; i++){
						max_ids = {};
						if (json_data.max_ids[y_accessor[i]] != null) {
							max_ids[y_accessor[i]] = json_data.max_ids[y_accessor[i]];
						} else {
							max_ids[y_accessor[i]] = 0;	
						}
						if (json_data.min_y != null){
							min_y = json_data.min_y;
						}
						if (json_data.max_y != null){
							max_y = json_data.max_y;
						}
						
					}					
					
					max_ids = json_data.max_ids;
				} else {
					//handling the no data case
					for (var i = 0; i < y_accessor.length; i++){
						max_ids = {};
						max_ids[y_accessor[i]] = 0;
					}
				}
				//var json_str = JSON.stringify(json_data);
				//localStorage.setItem('data', json_str);
				poll_func();
			});
		}
	
	
		function get_data_from_data_id(feed_name, axis_name, max_data_id){
			/*
			 * This will be used for pulling data for graphs so we don't miss any data.
			 */
			var url = "{{=URL('service', 'feed_live_from_data_id.json')}}";
			url = url + "/" + feed_name + "/" + axis_name + "/" + max_data_id;
			jQuery.getJSON(url, function(json_data){
				if (json_data.max_id != null){
					the_data.push.apply(the_data, json_data.data);
					max_ids[axis_name] = json_data.max_id;
					if (json_data.min_y < min_y){
						min_y = json_data.min_y;
					}
					if (json_data.max_y > max_y){
						max_y = json_data.max_y;
					}
				} 
			});
		}

		var torso = {};
		torso.width = 580;
		torso.height = 480;
		torso.right = 20;
		/*
	    var data = [
				{
					"date": "2014-01-01",
				    "value": 100056700
				},
				{
					"date": "2014-01-02",
				    "value": 110059000
				},
				{
				    "date": "2014-01-03",
				    "value": 10379978
				},
				{
				    "date": "2014-01-08",
				    "value": 10478949
				},
				{
					"date": "2014-01-02",
				    "value2": 10456700
				},				
				{
					"date": "2014-01-09",
				    "value2": 102654700
				}
	    	]
	    data = convert_dates(data, 'date');
		*/
		
		function poll(){
				/*
				 * recursivly poll for more data and ensure it's timeout remains constant
				 */
				setTimeout(function(){
					//for each axis do this:
					//this sets up the max_ids for pulling data only from that id forward
					for (var i = 0; i < y_accessor.length; i++) {
						var feed_name = '{{=feed.name}}';
						axis_name = y_accessor[i];
						if (max_ids[axis_name] == null){
							max_ids[axis_name] = 0;
						}
						var max_data_id = max_ids[axis_name];
						get_data_from_data_id(feed_name, axis_name, max_data_id);
						
					}
					
					//lets check and see if there is data for each axis
					var non_null_y_accessor = [];
					for (var i = 0; i < y_accessor.length; i++){
						console.log(y_accessor[i]);
						if (max_ids[y_accessor[i]] != 0){
							non_null_y_accessor.push(y_accessor[i]);
						}
					}
					//display/update the graph
				    data_graphic({
				        title:"Data for Feed {{=feed.name}}",
				        description: "Feed Data",
				        data: the_data,
				        width: torso.width*2,
				        height: torso.height,
				        right: torso.right,
				        target: '#feed_graph',
				        interpolate: 'basic',
				        area: false,
				        min_y: min_y,
				        max_y: max_y,
				        //format: 'percentage',
				        //show_confidence_band: ['l', 'u'],
				        //linked: true,
				        //y_extended_ticks: true,
				        x_accessor: x_accessor, //'date',
				        y_accessor: non_null_y_accessor//y_accessor//['value', 'value2'] 
				    });
				    //repeat
					poll();
					}
				, 1000);
			}
		prime_cache(poll);
	});
</script>
{{#=BEAUTIFY(response._vars)}}