{{extend 'layout.html'}}
<h3>Feed List</h3>
{{if rows is not None:}}
	{{=TABLE(
		TR(TH('Name'), TH('x_cast'), TH('y_cast')),
		[
			TR(A(row.name,
			_href=URL('feed_axis_list/%s' % (row.id))),
			row.x_cast, row.y_cast,
			INPUT(_type='button', _class="delete_feed", _value="Delete", 
				_onclick = """
					//lets make sure they want to do this
					result = confirm("Do you want to delete feed with id %(feed_id)s");
					if (result == true) {
						//alert('deleting');
						jQuery.post('%(url)s',
								'' ,
								jQuery('#row_feed_%(feed_id)s').remove()
								);
						
					} else {
						//alert('canceling');
					}
					""" % {
							'feed_id':row.id, 
							'url':URL("default", "ajax_feed_delete.load", args=[row.id])
						}
			), _id="row_feed_%s" % row.id) for row in rows
		]  
	)}}
{{pass}}
<h3>New Feed</h3>
{{=form}}
{{#=BEAUTIFY(response._vars)}}